// Regular
@font-face {
  font-family: 'Citroen';
  font-style: normal;
  font-weight: 400;
  src: local('Citroen Regular'), url('./Citroen-Regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('./Citroen-Regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Regular
@font-face {
  font-family: 'Citroen';
  font-style: normal;
  font-weight: 700;
  src: local('Citroen Bold'), url('./Citroen-Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('./Citroen-Bold.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Regular
@font-face {
  font-family: 'Citroen';
  font-style: normal;
  font-weight: 800;
  src: local('Citroen Black'), url('./Citroen-Black.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('./Citroen-Black.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
